/* Smythe font */
@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/* ---General settings---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: white;
    height: auto;
}

.wrapper {
    position: relative;
    width: 600px;
    /* height: 100vh; */

    margin: 0 auto;

}

/* ----- Header-------- */

header {
    width: 100%;
    height: 167px;
    background-image: url(./restaurant.png);
    color: #FFFFFF;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#restName {
    position: absolute;
    top: 46px;
    left: 46px;
    font-family: 'Smythe', cursive;
    font-size: 39px;
    line-height: 24px;
    font-weight: 400;


}


#description {
    position: absolute;
    top: 89px;
    left: 46px;
    font-family: 'Smythe', cursive;
    font-size: 22.4px;

}


/* -------Items general---------- */

.item {
    width: 508px;
    height: 140px;
    border-bottom: 1px solid #D2D2D2;
    background: rgb(255, 255, 255);



}

#item-0 {
    position: absolute;
    top: 234px;
    left: 46px;
}

#item-1 {
    position: absolute;
    top: 419px;
    left: 46px;
}

#item-2 {
    position: absolute;
    top: 604px;
    left: 46px;
}





/* ----Buttons----- */

.add-btn {
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
    padding: 17px;
    position: absolute;
    top: 8px;
    right: 46px;
    color: black;
}

.add-btn:hover {
    background: #ecebeb;
}




/* ----- Items details----------- */

.name {
    font-family: 'Smythe', cursive;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    width: 43px;
    height: 17px;

    position: absolute;
    left: 101px;
    top: 7.2px;


}

.image {
    width: 70px;
    height: 89px;
    position: absolute;
}

.item-description {
    font-family: 'Smythe', cursive;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #8B8B8B;
    width: 358px;
    height: 24px;

    position: absolute;
    left: 101px;
    top: 33px;
}

.price {
    width: 19px;
    height: 24px;

    font-family: 'Smythe', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    left: 101px;
    top: 65px;
}


/* -------- Your order--------- */

.order {
    display: none;
    position: absolute;
    top: 789px;
    left: 46px;
    background: white;

    width: 508px;
    min-height: 319px;
}

.receipt-header {
    text-align: center;
    font-family: 'Smythe', cursive;
    font-weight: 400;
    font-size: 28px;
    line-height: 17px;
    margin-bottom: 64px;


}

ul {
    list-style-type: none;
    width: 508px;
    background: white;
}

.order-item {



    font-family: 'Smythe', cursive;
    font-weight: 400;
    font-size: 28px;
    /* margin-bottom: 22px; */


}

.remove {
    text-decoration: none;
    color: #BBBBBB;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 13px;

}


.order-price {

    position: absolute;
    right: 0px;

    font-size: 20px;


}

.total-price {
    border-top: 2px solid #393333;

    font-family: 'Smythe', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #0E0E0E;
    padding-top: 14px;
    margin-bottom: 3.5rem;
}

.total-number {
    position: absolute;
    right: 0;

    font-size: 20px;
}

.submit-order {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    background: #16DB99;

    width: 100%;
    text-align: center;


    padding: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin-top: 2rem;

    position: absolute;
    bottom: 0;
}

.hidden {
    display: block;
}

/* -------Modal form------ */

.modal-form {
    width: 524px;
    height: 542px;
    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
    display: none;
}

#modal-form {
    display: flex;
    flex-direction: column;
    width: 475px;

    justify-content: center;
    align-items: center;
    margin: 0 auto;


}

.modal-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    text-align: center;
    margin: 47px;
}

input {
    width: 100%;
    padding: 20px;
    margin-bottom: 25px;
    border: 1.3px solid #757575;
    font-size: 19px;
    font-weight: 400;
    color: #757575;
    border-radius: 4px;
}


.pay-btn {
    width: 100%;
    padding: 20px;
    margin-top: 60px;

    color: white;
    border: none;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    background: #16DB99;


}

.pay-btn:hover {
    cursor: pointer;
}

#final-msg {
    background: #ECFDF5;
    border-radius: 3px;
    color: #065F46;
    width: 504px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;

    position: absolute;
    top: 789px;
    left: 50px;



    font-family: 'Smythe', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    display: none;




}